@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.loader-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.dossier {
    @include vertical-list;
    width: 100%;
    gap: 1rem;

    .container-top {
        @include horizontal-list;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .table {
        min-height: 50vh;
        height: 100%;
        width: 100%;
        background: white;
        border-radius: 10px;
        padding: .5rem 1rem 1rem 1rem;

        .finalisation {
            display: grid;
            place-items: center;

            i {
                font-size: 25px;
            }
        }
    }
}